/bin/
/logs/
/pids/
/server/
/temp/
/test/
.DS_Store
/.babelrc
/.env
/.eslintignore
/.eslintrc
/gitignore
/.npmignore
/.sample.env
/package-lock.json
/src/server/
/src/lamda/handler.js
/src/lamda/lib/hub.js
/lamda/
/src/